.main-menu{
    display: flex;   
   width: 1600px;
   height: 80px;
   left: 0px;
   top: 0px;
   background: #FFFFFF;
   }
   .webstudio{
       display:inline;
       text-decoration: none;
   width: 145px;
   height: 31px;
   left: 215px;
   top: 24px;
   font-family: 'Raleway';
   font-weight: 700;
   font-size: 26px;
   line-height: 31px;
   letter-spacing: 0.03em;
   color: #2196F3;
   }
   .logo{
   display: flex;
    color:    #212121; 
   }
   .navig{
       margin: 0 50px;
       display: flex;
   width: 294px;
   height: 16px;
   left: 453px;
   top: 32px;
   }
   .color-portfolio{
    color: #2196F3;   
   }
   .navig>li>a{
       font-family: 'Roboto';
   font-style: normal;
       margin: 0 50px;
       display: flex;
       text-decoration: none;
   font-weight: 500;
   font-size: 14px;
   line-height: 16px;
   letter-spacing: 0.02em;
   color: #212121;
   }
   .mail>a{
       margin-right: 50px;
   width: 135px;
   height: 16px;
   left: 1078px;
   top: 32px;
   color: #757575
   }
   .phone>a{
   width: 122px;
   height: 16px;
   left: 1263px;
   top: 32px;
   color: #757575;
   }
   .menu-we-do{
    text-decoration: underline;   
    margin-top: 94px;  
    display: flex;
    margin: 0 50px;
    width: 611px;
    height: 54px;
    left: 495px;
    top: 174px;  
   }
   .menu-we-do:hover{color: #2196F3;}
   .menu-we-do>li{
    margin: 0 50px;   
   }
   .name-foto{
width: 322px;
color: #212121;   
   }
   .name-foto-ditale{
width: 322px;
color: #757575;
   }
   .foto{
    margin: 262px 215px 346px 215px;   
    display: flex; 
      
   }
   .foto>ul>li{
       display: inline;
   }
   .foot{
    position: absolute;
    width: 1600px;
    height: 252px;
    left: 0px;
    top: 2097px; 
    background-color: #2F303A;  
}
.foot-web{
margin-top: 60px;
margin: bottom 20px;    
width: 145px;
height: 31px;
left: 215px;
top: 2157px;
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;
letter-spacing: 0.03em;
color: #2196F3;
}
.footer-address>ul>li>a{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
color: rgba(255, 255, 255, 0.6)     
}


